@import url('https://fonts.googleapis.com/css2?family=Lexend&family=Roboto+Mono&family=Roboto:wght@500&display=swap');

:root {
    
    /* colors */
    --primary: #0084A1;
    --secondary: #FFFFFF;
    --accent1: #09B8AB;
    --accent2: #299218;
    /*Font Colors*/
    --heading-font: 'Roboto', sans-serif;
    --subttitle-font: 'lexend', sans-serif;
    --paragraph-font: 'lexend', sans-serif;
    --footer-notes: 'Roboto Mono', monospace;
  
    /* alternative colors*/
    --headline-color-on-white: black;  /* headlines on a white background */ 
    --headline-color-on-color: white; /* headlines on a colored background */ 
    --paragraph-color-on-white: black; /* paragraph text on a white background */ 
    --paragraph-color-on-color: white; /* paragraph text on a colored background */ 
    --paragraph-background-color: #215CAD;
    --nav-link-color: black;
    --nav-background-color: white;
    --nav-hover-link-color: #0084A1;
    --nav-hover-background-color: white;
    /*Background colors*/
    --background-color-title: black;
    --background-color-page:white;
    /*Font size*/
    --headline: 2.8rem;
    --subtitle: 1.8rem;
    --paragraph: 1.2rem;
}
* {
    list-style: none;
    text-decoration: none;
    box-sizing: border-box;
}

body {
    background-color: var(--background-color-page);
    color: #000;
    font-family: var(--paragraph-font);
}

/***************************************
************ Header section ************
****************************************/

/*Header section*/
header {
    width: 100%;
    padding: 15px;
    box-shadow: 0 1px 5px
}

.banner_msg {
    text-align: center;
    background-color: #00ABE4;
    color: var(--headline-color-on-color);
    padding: 10px;
    margin: 0;
}

.top-header {
    display: flex;
    align-items: center; 
    justify-content: space-between; 
    padding: 10px;
}

.top-header :nth-child(3) {
    justify-content: center;
}

.headerLogo {
    display: flex;
    align-items: center;
}

.headerLogo img {
    display: inline;
    max-width: 130px;
    max-height: 130px;
    height: auto;
    margin: auto;
}

.headerLogo h1 {
    margin: 0;
    padding: 0;
    font-size: 25px;
    font-family: var(--heading-font);
}

.mainNav ul {
    display: flex;
    font-family: var(--footer-notes);
}

.mainNav ul li a {
    display: block;
    color: #00ABE4;
    font-size: 25px;
    padding: 0 30px;
}

.mainNav ul li a:hover {
    font-size: 30px;
    color: #00ABE4;
}

nav ul li {
    padding: 0 10px;
}

.hmbrgr {
    display: none;
}

header p {
    display: flex;
    align-self: center;
    justify-content: center;

}

#date {
    font-family: var(--footer-notes);
    padding: 10px; 
}

/***************************************
***************** Main *****************
****************************************/

main {
    display: grid;
    margin: 30px;
    grid-template-columns: 1fr 2fr 1fr;
    gap: 1rem;
}

.welcome {
    position: relative;
    padding: 0;
}

.welcome img{
    width: 100%;
    height: 100%;
    object-fit: cover;
    border-radius: 5px;
}

.welcome h2 {
    position: absolute;
    font-size: 2.5em;
    left: 1.8em;
    background-color: #00ABE4;
    border-radius: 10px;
    padding: 10px;
    z-index: 2;
}

.welcome button {
    position: absolute;
    bottom: 20px;
    right: 16px;
    font-size: 2em;
}

main section {
    background-color: #00ABE4;
    color: #FFFFFF;
    padding: 10px;
    box-shadow: 0 1px 5px 0 gray;
    border-radius: 5px;
    height: auto;
}

main section {
    padding: 5%;
    font-size: 16px;
}

main h2 {
    font-size: 40px;
}

main h3 {
    font-size: 23px;
}

main p {
    font-size: 20px;
}

.welcome {
    grid-column: 2;
    grid-row: 1 / span 2;

}   

.event {
    grid-column: 1;
    grid-row: 1;
}

.join {
    grid-column: 1;
    grid-row: 3;
} 
   
.weather {
    grid-column: 1;
    grid-row:2;
}

.newRelease {
    grid-column: 2;
    grid-row: 3;
}

.spotlight {
    grid-column: 3;
    grid-row: 1 / span 3;
}

.spotlight div {
    display: flex;
    border: solid 1px rgb(255, 255, 255);
    height: auto;
    border-radius: 10px;
    flex-direction: column;
    align-items: center;
    margin: 5px;
}

.spotlight img {
    display: inline;
    height: auto;
    max-width: 230px;
    border-radius: 10px;
    align-content: center;
}

.spotlight p {
    padding: 10px;
    margin: 0;
}

.spotlight h2, .spotlight h3 {
    padding: 5px;
    margin: 10px;
}

.welcome-bttn, .join-bttn {
    border-radius: 5px;
    font-size: 1.2rem;
    padding: 10px;
    color:red;
    background-color: red;
    text-decoration: none;
    border: 0;
}

.join-bttn a {
    color: #FFFFFF;
}

.welcome-bttn:hover, .join-bttn:hover {
    transition: 0.5s;
    background-color: orangered;
    cursor: pointer;
}

.weather {
    text-align: center;
}

main section img {
    filter: blur(0em);
    transition: filter 1s;
}

main section img[data-src] {
  filter: blur(0.2em);

}

/***************************************
**************** Footer ****************
****************************************/

footer {
    margin-top: 30px;
    padding-top: 20px;
    display: grid;
    grid-template-columns: .5fr 2fr 2fr 1fr;
    box-shadow: 0 1px 5px 0px gray;
}

footer h3 {
    font-size: 20px;
    font-family: var(--heading-font);
}

footer a img {
    padding: 10px;
    max-width: 80px;
    max-height: 80px;

}

footer p {
    font-size: 25px;
    font-family: var(--footer-notes);
}

footer section img {
    display: inline;
    margin: 10px;
    align-content: center;
    justify-content: center;
}

.logo {
    margin-left: 20px;
}

.soc_media {
    grid-column: 4;
    grid-row: 1;
    align-items: center;
}

.info_bottom {
    font-family: var(--footer-notes);
    margin-top: 50px;
    grid-column: 1 / 5;
    grid-row:  2;
    font-size: 15px;
    display: flex;
    align-content: center;
    justify-content: center;
}


/***************************************
**************** weather ****************
****************************************/

.weather {
    /* Add styles for the weather section container */
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: center;
    padding: 20px;
    border-radius: 10px;
}
    
.weather div,
.weather figcaption {
    /* Add styles for the text elements */
    font-size: 1.2em;
    margin-bottom: 10px;
}
   
.weather img {
    /* Add styles for the weather icon */
    width: 80px;
    height: auto;
    margin-bottom: 10px;
}


/***************************************
**************** Directory ****************
****************************************/
.directory {
    display: grid;
    margin: 0 20%;
    gap: 1rem;
    grid-template-columns: 1fr 1fr;
    text-align: center;
    justify-content: center;
}

.directory h2 {
    grid-column: 1/ span 2;
    text-align: center;
    justify-content: center;
    color: #F40009;

}

.boxInfo {
    display: flex;
    flex-direction: column;
    
}

.boxInfo img{
    display: inline;
    width: 90%;
    height: 90%;
}

.boxInfo h2 {
    font-size: 2.5em;
}

.boxInfo p {
    font-size: 2.5em;
}

/***************************************
***************** Discover *****************
****************************************/
#lastVisited {
    text-align: center;
}

.discover {
    display: flex;
    margin: 0 15%;
    gap: 1rem;
    flex-direction: column;
}

.imageFrame {
    position: relative;
    padding: 0;
}

.info-box {
    display: flex;
    flex-direction: column;
    margin: 80px;
}

.demo-info {
    display: flex;
}

.imageFrame img {
    width: 100%;
    height: 100%;
    object-fit: cover;
    border-radius: 5px;
}

.imageFrame:hover {
    display: flex;
    flex-direction: column;
    width: 110%;
    height: 110%;
    transition: 5s ease-in-out;
   
}

.imageFrame h2 {
    position:relative;
    font-size: 2.5em;
    background-color: red;
    border-radius: 10px;
    padding: 10px;
    text-align: center;
}

.info-box h3 {
    font-size: 2.3em;
    padding: 10px;
    text-align: center;
}

.imageFrame p {
    text-align: center;
    font-size: 1.8em;
    padding: 20px;
}

/***************************************
************** Join  *******************
****************************************/
.join-grid {
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: center;
}

.join-grid h2, .join-grid div {
    text-align: center;
    padding: 10px;
}

.join-grid input,
.join-grid textarea {
    width: 100%;
    padding: 10px;
    border: 1px solid #ccc;
    border-radius: 5px;
}
  
.join-grid button {
    background-color: red;
    color: #ffffff;
    padding: 10px;
    border: none;
    border-radius: 4px;
    cursor: pointer;
}

.join-grid button:hover {
    background-color: #00ABE4;
    transition: .5s ease-in-out;
}

.join-grid form {
  display: grid;
  grid-gap: 1em;
  max-width: 600px;
  margin: 0 auto;
  width: 100%;
}

form {
  margin: 0 auto;
  padding: 2em;
  border: 1px solid #ccc;
  background-color: #00ABE4;
  border-radius: 1em;
  color: #FFFFFF;
}

.table-container {
  overflow-x: auto;
}

table {
  width: 100%;
  border-collapse: collapse;
  margin: 0 auto;
}

td, th {
  text-align: left;
  padding: 8px;
}

th {
  background-color: #f2f2f2;
}

/* Style for the first row */
tr:nth-child(1) td {
  background-color: #00ABE4;
  color: white;
  font-size: 28px;
  border-top-left-radius: 15px;
  border-top-right-radius: 15px;
}

/* Style for the second row */
tr:nth-child(2) td {
  background-color: red;
  color: white;
}

/* Alternate row styling */
tr:nth-child(odd):not(:first-child) {
  background-color: #f3f3f3;
}

/* Styling for cells starting from the third row */
tr:nth-child(n+3) td:nth-child(n+1) {
  color: black;
  text-align: center;
}

@media screen and (max-width: 767px) {
  td, th {
    display: block;
  }

  th {
    text-align: center;
  }

  td:before {
    content: attr(data-label);
    float: left;
    font-weight: bold;
    text-transform: uppercase;
  }

  td {
    clear: both;
    padding-left: 50%;
  }
}

.thankyou {
    display: flex;
    flex-direction: column;
    text-align: center;
    margin: 300px 0;
}

/***************************************
************** Contact ***************
****************************************/

.contact {
    grid-column: 2/3;
}

.contact form {
    display: grid;
    grid-gap: 15px;
    max-width: 500px;
    margin: 0 auto;
}

.contact h2, .contact div {
    text-align: center;
    padding: 10px;
}

.contact input,
.contact textarea {
    width: 100%;
    padding: 10px;
    border: 1px solid #ccc;
    border-radius: 5px;
}
  
.contact button {
    background-color: var(--accent2);
    color: #ffffff;
    padding: 10px;
    border: none;
    border-radius: 4px;
    cursor: pointer;
}