@import url('https://fonts.googleapis.com/css2?family=Lexend&family=Roboto+Mono&family=Roboto:wght@500&display=swap');

* {
    box-sizing: border-box;
    margin: 0;
    padding: 0;
}

header {
    font-family: 'Lexend', sans-serif;
    background: rgb(34,169,196);
    background: radial-gradient(circle, rgba(34,169,196,1) 0%, rgba(9,114,121,1) 50%, rgba(2,0,36,1) 100%);
    text-align: center;
    color: white;
    border-radius: 10px;
    margin: -15px 15px 15px 15px;
}

h1{
    font-size: 2.7em;
    padding: 40px 0;
}

h2{
    color: white;
}
h3 {
    margin-top: -80px;
    padding: 40px 0;
}

header a {
    color: white;
    text-decoration: none;
}

header a:hover {
    color: limegreen;}

main {
    font-family: 'Roboto', sans-serif;
    display: grid;
    margin: 15px;
    grid-gap: 15px;
    grid-template-columns: repeat(3, 1fr);
}

/*Box, titles and P*/
.box {
    text-align: center;
    background-color: black;
    color: white;
    border-radius: 10px;
}


.boxTitle {
    font-family: 'Lexend', sans-serif;
    background: rgb(34,169,196);
    background: radial-gradient(circle, rgba(34,169,196,1) 0%, rgba(9,114,121,1) 50%, rgba(2,0,36,1) 100%);
    color: white;
    font-size: 1.3em;
    padding: 5px;
    border-top-right-radius: 10px;
    border-top-left-radius: 10px;
}

.box a {
    text-align: center;
    text-decoration: none;
    color: white;
}

.box a:hover{
    color: limegreen;}

h2, 
h4 {
    text-align: center;
    margin: 20px;
}

.boxBody {
    padding: 10px;
}

.boxBody p {
    text-align: left;
    font-size: 1.4em;
    padding: 10px;
    margin: 20px;
}

img {
    padding-top: 2em;
    justify-items: center;
    width: 100%;
}

p {
    font-family: 'Roboto', sans-serif;
}

footer {
    background: rgb(34,169,196);
    background: radial-gradient(circle, rgba(34,169,196,1) 0%, rgba(9,114,121,1) 50%, rgba(2,0,36,1) 100%);
    padding: 10px;
    margin: 15px;
    text-align: center;
    border-radius: 10px;
}
footer p {
    font-family: 'Roboto Mono', monospace;
    color: white;
    padding: 5px;
}

/*Small view
@media only screen and (max-width: 700px){
    main {
        grid-template-columns: 1fr;
    }
    main section:nth-child(3) {
        grid-column: span 1;
    }
}

Medium view
@media only screen and (max-width: 1300px) {
    main {
        grid-template-columns: 1fr 1fr;
    }
    main section:nth-child(3) {
        grid-column: span 2;
    }
}*/