/*Large view*/
@media only screen and (min-width: 90em) {
    :root {  
        /*Font size*/
        --headline: 4rem;
        --subtitle: 1.5rem;
        --nav: 2rem;
        --paragraph: 1.5rem;
        --clickable: 1rem;
    }

    body {
        max-width: 80%; /* Adjust this percentage to control the width of the content */
        margin-left: auto;
        margin-right: auto;
    }
    /***************************************
    *************** Header *****************
    ****************************************/
    header img {
        padding: 10px;
        margin: 0 15px;
        max-width: 220px;
        max-height: 220px;
    }

    .hmbrgr {
        display: none;
    }

    .mainNav {
        position: static;
        height: auto;
        opacity: 1;
    }

    .mainNav ul {
        display: flex;
        justify-content: space-around;
        padding: 0;

    }

    .mainNav ul li {
        padding: 0;
    }

    .mainNav ul li a {
        padding: 0 50px;
    }
    /***************************************
    **************** Main ******************
    ****************************************/
    main h2 {
        font-size: var(--subtitle); 
    }

    .welcomeBox h1 {
        font-size: var(--headline);
    }
    
    .welcomeBox p {
        font-size: var(--paragraph); 
    }

    .product p, 
    .info li {
        font-size: var(--paragraph); 
    }
    
    .tryBttn {
        font-size: var(--clickable);
    }

    .productBox div:nth-child(4) {
        display: inline;
    }
    
    /***************************************
    *************** Footer *****************
    ****************************************/
    .soc_media {
        display: flex;
        flex-direction: row;
        align-content: center;
        justify-content: center;
    }

    .soc_media a {
        padding: 0 15px;
    }

    .soc_media a img {
        max-width: 80px;
        max-height: 80px;
    }


    /***************************************
    *************** weather ****************
    ****************************************/
    .weather-card {
        display: grid;
        grid-template-columns: 1fr 2fr;
        gap: 1rem;
    }

    .current-weather {
        text-align: center;
        margin-bottom: 0;
        grid-column: 1 / span 1;
        grid-row: 1;
    }

    .weather-details {
        display: flex;
        align-items: center;
        flex-direction: column;
        margin-top: 0;
    }

    .weather-details {
        margin-top: 75px;
    }

    .forecast {
        margin-top: 0;
        display: block;
        grid-column: 2 / span 2;
        grid-row: 1;
    }

    .forecast h3 {
        font-size: var(--headline); 
        padding: 10px 25px;
    }

    .forecast-list li {
        margin: 14px 0;
    }


    /***************************************
    ************** Fresh Page ***************
    ****************************************/

    /***************************************
    ************ About Us Page *************
    ****************************************/
    .aboutInfo {
        background-color: var(--background-color);
        align-content: center;
        justify-content: center;
        padding: 0;
    
    }
    .aboutInfo h1 {
        font-size: var(--headline);
        padding: 0 40px;
    
    }
    
    .aboutInfo p {
        font-size: 2rem;

    }
    
    .infoBox p {
        font-size: var(--paragraph);

    }
    
}